body {
    text-align: center;
    padding: 20px 0 0 20px;
    max-width: 800px;
}

h1 {
    color: forestgreen;
}

h2 {
    color: darkblue;
    border: 2px dotted black;
    padding: 5px;
}

p {
    color: brown;
}

img {
    border-radius: 50%;
}

button {
    padding: 20px;
}

input {
    padding: 20px;
}